/* This file is for your main application CSS */
@import "./phoenix.css";

.card-container {
  display: flex;
  flex-wrap: wrap;
}

.game-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 200px;

  border: 2px solid gray;
  border-radius: 5px;
  margin: 20px;
  padding: 20px;
}

.game-info {
  display: flex;
  flex-direction: row;
}