<h1>Hello, <%= @user.name %></h1>

<div id="details">
    <p><%= length(@user.games) %> game(s)</p>
</div>

<div class="card-container" id="games">
    <%= for game <- @user.games do %>
        <div class="game-card" id="game-#{game.id}">
            <h2><%= game.title %></h2>
            <p><%= game.has_played %></p>
        </div>
    <% end %>
</div>